@import 'colors';

$dangerBgColor: '';
$dangerBgHoverColor: '';
$dangerBgFocusColor: '';
$dangerBgDisabledColor: '';

$dangerBorderColor: '';
$dangerBorderHoverColor: '';
$dangerBorderFocusColor: '';
$dangerBorderDisabledColor: '';

$dangerTextColor: '';
$dangerTextHoverColor: '';
$dangerTextFocusColor: '';
$dangerTextDisabledColor: '';
