@import 'colors';

$infoBgColor: '';
$infoBgHoverColor: '';
$infoBgFocusColor: '';
$infoBgDisabledColor: '';

$infoBorderColor: '';
$infoBorderHoverColor: '';
$infoBorderFocusColor: '';
$infoBorderDisabledColor: '';

$infoTextColor: '';
$infoTextHoverColor: '';
$infoTextFocusColor: '';
$infoTextDisabledColor: '';
