@import 'colors';

$normalBgColor: $colorWhite;
$normalBgHoverColor: $colorWhite;
$normalBgFocusColor: $colorWhite;
$normalBgDisabledColor: $colorWhite;

$normalBorderColor: $colorGray;
$normalBorderHoverColor: $colorGray;
$normalBorderFocusColor: $colorGray;
$normalBorderDisabledColor: $colorGray;

$normalTextColor: $colorBlack;
$normalTextHoverColor: $colorBlack;
$normalTextFocusColor: $colorBlack;
$normalTextDisabledColor: $colorBlack;
