@import 'colors';

$peaceBgColor: '';
$peaceBgHoverColor: '';
$peaceBgFocusColor: '';
$peaceBgDisabledColor: '';

$peaceBorderColor: '';
$peaceBorderHoverColor: '';
$peaceBorderFocusColor: '';
$peaceBorderDisabledColor: '';

$peaceTextColor: '';
$peaceTextHoverColor: '';
$peaceTextFocusColor: '';
$peaceTextDisabledColor: '';
