@import 'colors';

$warningBgColor: '';
$warningBgHoverColor: '';
$warningBgFocusColor: '';
$warningBgDisabledColor: '';

$warningBorderColor: '';
$warningBorderHoverColor: '';
$warningBorderFocusColor: '';
$warningBorderDisabledColor: '';

$warningTextColor: '';
$warningTextHoverColor: '';
$warningTextFocusColor: '';
$warningTextDisabledColor: '';
