@import 'src/css/const';

.simr-r-MainPage {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    grid-template-rows: 10em auto 1em;

    min-height: 10em;
}

.simr-container {
    margin: $containerMargin;
}
