@import 'src/css/colorSchema/default/definition';

.simr-btn {
    background-color: $normalBtnColor;
    color: $normalTextColor;
    
    padding: 0.7ex 1ex;
    border-radius: 5px;

    text-align: center;

    cursor: pointer;

    &:hover {
        background-color: $normalBtnHoverColor;
    }
}
