.simr-flex {
    display: flex;
}

/* justify */

.simr-flex-justify-start {
    justify-content: flex-start;
}

.simr-flex-justify-end {
    justify-content: flex-end;
}

.simr-flex-justify-center {
    justify-content: center;
}

.simr-flex-justify-space-between {
    justify-content: space-between;
}

.simr-flex-justify-space-evenly {
    justify-content: space-evenly;
}

.simr-flex-justify-space-around {
    justify-content: space-around;
}

.simr-flex-direction-column {
    flex-direction: column;
}

.simr-flex-direction-column-reverse {
    flex-direction: column-reverse;
}

/* wrap */

.simr-flex-nowrap {
    flex-wrap: nowrap;
}

.simr-flex-wrap {
    flex-wrap: wrap;
}

.simr-flex-wrap-reverse {
    flex-wrap: wrap-reverse;
}

/* align */


.simr-flex-align-self-start {
    align-self: flex-start;
}

.simr-flex-align-self-end {
    align-self: flex-end;
}

.simr-flex-align-start {
    align-items: flex-start;
}

.simr-flex-align-end {
    align-items: flex-end;
}

.simr-flex-align-center {
    align-items: center;
}

.simr-flex-align-baseline {
    align-items: baseline;
}

.simr-flex-align-stretch {
    align-items: stretch;
}

.simr-flex-align-start {
    align-content: flex-start;
}

.simr-flex-align-end {
    align-content: flex-end;
}

.simr-flex-align-center {
    align-content: center;
}

.simr-flex-align-space-between {
    align-content: space-between;
}

.simr-flex-align-space-evenly {
    align-content: space-evenly;
}

.simr-flex-align-space-around {
    align-content: space-around;
}

.simr-flex-align-stretch {
    align-content: stretch;
}

/* grow */

.simr-flex-grow-1 {
    flex-grow: 1;
}

.simr-flex-grow-2 {
    flex-grow: 2;
}
