// $accent: #F1404B;
$accent: #6c2eb9;

// Used by <ButtonGroup />
.simr-button-group {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

// Used by <Button />
.simr-button {
    position: relative;
    outline: none;
    background: $accent;
    width: 60px;
    height: 60px;
    border: 0;
    border-radius: 100px;
    box-shadow: inset 0 0 0 1px rgba(#000, 0.2), 0 2px 0 rgba($accent, 0.2);
    margin: 0 12px;
    color: #fff;
    cursor: pointer;

    &--large {
        z-index: 1;
        position: relative;
        width: 80px;
        height: 80px;
    }

    &:hover {
        .tooltip {
            top: +100%;
            opacity: 1;
        }
    }

    .material-icons {
        position: relative;
        bottom: -3px;
    }
}

// Used by inside <Button />
.simr-icon {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background 0.3s ease;

    &,
    &:before,
    &:after {
        position: absolute;
        display: block;
        background: #fff;
        width: 6px;
        height: 6px;
        border-radius: 10px;
    }

    &:before,
    &:after {
        content: '';
        transition: all 100ms ease, right 100ms 100ms ease,
            left 100ms 100ms ease;
    }

    &:before {
        left: -11px;
        transform: translateX(-50%);
    }

    &:after {
        right: -11px;
        transform: translateX(50%);
    }

    &.active {
        background: transparent;
        transition: background 0.3s ease;

        &,
        &:before,
        &:after {
            height: 3px;
        }

        &:before,
        &:after {
            width: 20px;
            transform-origin: 50% 50%;
            transition: all 100ms ease, width 100ms 100ms ease,
                transform 300ms 200ms cubic-bezier(0.28, 0.55, 0.385, 1.65);
        }

        &:before {
            left: 50%;
            transform: translateX(-50%) rotate(45deg);
        }

        &:after {
            right: 50%;
            transform: translateX(50%) rotate(-45deg);
        }
    }
}

// Used by <Tooltip />
.simr-tooltip {
    position: absolute;
    top: -80%;
    left: 50%;
    display: inline-block;
    background: rgba(#000, 0.8);
    border-radius: 2px;
    padding: 4px;
    box-sizing: border-box;
    transform: translate(-50%, 50%);
    color: #fff;
    font-size: 10px;
    opacity: 0;
    transition: 200ms ease;
}
