@import 'src/css/colorSchema/default/definition';
@import 'externalLibOverrides';

body {
    background-color: $normalBgColor;
    color: $normalTextColor;

    font-family: sans-serif;
    font-size: 16px;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    line-height: 1;
}

a {
    color: $normalTextFocusColor;
    text-decoration: underline;
}

// TODO move out
.simr-api {
    padding: 0 0.5em;
    border-radius: 5px;
}

.simr-api-error {
    background-color: $dangerBgColor;
    color: $dangerTextColor;
}

.simr-api-ok {
    background-color: $peaceBgColor;
    color: $peaceTextColor;
}

.simr-component-error {
    background-color: $dangerBgColor;
    color: $dangerTextColor;
}

.simr-form-control {
    margin: 0 2em;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.simr-form-control:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 8px rgba(102, 175, 233, 0.6);
}

.simr-form-control[readonly],
fieldset[disabled] .form-control {
    cursor: not-allowed;
    opacity: 1;
}

.simr-table {
    tr {
        td:last-child > * {
            visibility: hidden;
        }

        // last column contains actions, we don't need the visual column for them
        td:last-child,
        th:last-child {
            border-left: initial;
        }

        // last column contains actions, we don't need the visual column for them
        td:nth-last-child(2),
        th:nth-last-child(2) {
            border-right: initial;
        }
    }

    tr:hover {
        td:last-child > * {
            visibility: visible;
        }
    }
}

// overloading default selector
.table.simr-table {
    tr {
        td {
            vertical-align: middle;
        }
    }
}

.material-icons.material-icons-font-12 { font-size: 12px; }
.material-icons.material-icons-font-14 { font-size: 14px; }
.material-icons.material-icons-font-16 { font-size: 16px; }
.material-icons.material-icons-font-18 { font-size: 18px; }