@import 'src/css/colorSchema/default/definition';
@import 'externalLibOverrides';

body {
    background-color: $normalBgColor;
    color: $normalTextColor;
    
    font-family: sans-serif;
    font-size: 16px;
    
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    line-height: 1;
}

a {
    color: $normalTextFocusColor;
    text-decoration: underline;
}

// TODO move out
.simr-api {
    padding: 0 0.5em;
    border-radius: 5px;
}

.simr-api-error {
    background-color: $dangerBgColor;
    color: $dangerTextColor;
}

.simr-api-ok {
    background-color: $peaceBgColor;
    color: $peaceTextColor;
}

.simr-component-error {
    background-color: $dangerBgColor;
    color: $dangerTextColor;
}
