@import 'src/css/colorSchema/default/definition';

.simr-list-overflowed {
    &>:nth-child(n+3) {
        display: none;
    }

    &:after {
        content: 'and others';
        margin-left: 0.5em;
        padding: 0.3em;
        border-radius: 5px;
        background-color: $normalBtnColor;
    }
}

.simr-list-item {
    background-color: $normalBtnColor;
    margin-left: 0.5em;
    padding: 0.3em;
    border-radius: 5px;

    &:hover {
        background-color: $normalBtnHoverColor;
    }
}