.simr-list-overflowed {
    &>:nth-child(n+3) {
        display: none;
    }

    &:after {
        content: 'and others';
        margin-left: 0.5em;
        padding: 0.3em;
        border-radius: 5px;
        background-color: #f7f;
    }
}

.simr-list-item {
    background-color: #f7f;
    margin-left: 0.5em;
    padding: 0.3em;
    border-radius: 5px;
}

.simr-list {
}