@import './../common/colors';

$infoBgColor: $colorBlue;
$infoBgHoverColor: lighten($colorBlue, 25%);
$infoBgFocusColor: lighten($colorBlue, 25%);
$infoBgDisabledColor: mix($colorBlue, $colorGray, 50%);

$infoBtnColor: $colorGray;
$infoBtnHoverColor: $colorGray;
$infoBtnFocusColor: $colorGray;
$infoBtnDisabledColor: mix($colorWhite, $colorGray, 50%);

$infoBorderColor: $colorBlue;
$infoBorderHoverColor: lighten($colorBlue, 25%);
$infoBorderFocusColor: lighten($colorBlue, 25%);
$infoBorderDisabledColor: mix($colorBlue, $colorGray, 50%);

$infoTextColor: $colorAqua;
$infoTextHoverColor: lighten($colorAqua, 25%);
$infoTextFocusColor: lighten($colorAqua, 25%);
$infoTextDisabledColor: mix($colorAqua, $colorGray, 50%);
