@import './../common/colors';

$normalBgColor: $nightRider;
$normalBgHoverColor: lighten($nightRider, 5%);
$normalBgFocusColor: lighten($nightRider, 15%);
$normalBgDisabledColor: mix($nightRider, $colorGray, 50%);

$normalBtnColor: $colorGray;
$normalBtnHoverColor: $nobel;
$normalBtnFocusColor: $nobel;
$normalBtnDisabledColor: mix($colorGray, $colorGray, 50%);

$normalBorderColor: $colorGray;
$normalBorderHoverColor: $colorGray;
$normalBorderFocusColor: lighten($colorGray, 15%);
$normalBorderDisabledColor: mix($colorGray, $colorGray, 50%);

$normalTextColor: darken($colorWhite, 15%);
$normalTextHoverColor: $colorWhite;
$normalTextFocusColor: $colorWhite;
$normalTextDisabledColor: $colorWhite;
