@import './../common/colors';

$warningBgColor: $colorFuchsia;
$warningBgHoverColor: lighten($colorFuchsia, 25%);
$warningBgFocusColor: lighten($colorFuchsia, 25%);
$warningBgDisabledColor: mix($colorFuchsia, $colorGray, 50%);

$warningBtnColor: $colorWhite;
$warningBtnHoverColor: $colorGray;
$warningBtnFocusColor: $colorGray;
$warningBtnDisabledColor: mix($colorWhite, $colorGray, 50%);

$warningBorderColor: $colorYellow;
$warningBorderHoverColor: lighten($colorYellow, 25%);
$warningBorderFocusColor: lighten($colorYellow, 25%);
$warningBorderDisabledColor: mix($colorYellow, $colorGray, 50%);

$warningTextColor: $colorLime;
$warningTextHoverColor: lighten($colorLime, 25%);
$warningTextFocusColor: lighten($colorLime, 25%);
$warningTextDisabledColor: mix($colorLime, $colorGray, 50%);
