@import 'src/css/const';
@import 'src/css/colorSchema/default/definition';

@import '_BootstrapOverride.scss';

.simr-book-page-actions {
    padding: 1em;
    border-top: 3px $normalBorderColor solid;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.simr-expanded-book {
    background-color: $normalBgHoverColor;

    padding: 1em;
    .simr-book-description {
        .simr-image {
            img {
                width: 440px;
                height: auto;
            }
        }
        .simr-additional-info {
            word-wrap: break-word;
            white-space: normal;
            margin-left: 2em;
        }
    }
    .simr-main-book-info {
        width: 100%;
        .simr-title {
            font-size: 150%;
            margin-top: 1em;
        }

        .simr-authors {
            margin-left: $main-page-inner-content-margin;
            &:before {
                content: '—';
                position: relative;
                left: -($main-page-inner-content-margin / 2);
            }
        }
        .simr-author {
            margin-left: 0.5em;
            &:after {
                content: ',';
            }
            &:last-child:after {
                content: '';
            }
        }
    }
    .simr-secondary-book-info {
        width: 100%;
        margin-top: 1em;
        max-height: 3em;
    }
}


