@import 'src/css/const';

/* override the react-bootstrap-table 'options.sizePerPage' */
/* due to I want the toltip to open up but now down */
.dropdown-menu {
    top: auto;
    bottom: 100%;
}

.react-bootstrap-table-page-btns-ul.pagination {
    margin-right: $containerMargin;
}

.dropdown.react-bs-table-sizePerPage-dropdown {
    margin-left: $containerMargin;
}

.simr-author-list {
}

.simr-author-item {
    background-color: #f7f;
    margin-left: 0.5em;
    padding: 0.3em;
    border-radius: 5px;
}
