// 16 html colors

$colorAqua: #00ffff;
$colorGray: #808080;
$colorNavy: #000080;
$colorSilver: #c0c0c0;
$colorBlack: #000000;
$colorGreen: #008000;
$colorOlive: #808000;
$colorTeal: #008080;
$colorBlue: #0000ff;
$colorLime: #00ff00;
$colorPurple: #808080;
$colorWhite: #ffffff;
$colorFuchsia: #ff00ff;
$colorMaroon: #800000;
$colorRed: #ff0000;
$colorYellow: #ffff00;

$colorTransparent: transparent;

// safe web colors

$midnightExpress: #003;
$cyprus: #033;
$nightRider: #333;
$nobel: #999;
$blueSky: #D1D9FA;