@import 'src/css/const';
@import 'src/css/colorSchema/default/definition';

.simr-filter-input {
    @include nofocus;
}

.simr-book-table-search-and-filter {
    border-bottom: $normalBorderColor 1px solid;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    flex-basis: 75%;

    .simr-book-table-search {
        background-color: $normalBgHoverColor;
        border-color: $normalBorderColor;
        color: $colorTransparent;

        &:focus {
            @include nofocus;
            background-color: $normalBgFocusColor;
            border-color: $normalBorderFocusColor;
            color: $normalTextFocusColor;
        }
    }

    .simr-book-table-apply-btn {
        margin-left: 1em;
    }
}

.simr-book-table-filters {
    position: absolute;

    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;

    .simr-book-table-filter {
        background-color: $infoBtnColor;
        padding: 4px 0 4px 6px;
        border-radius: 5px;
        margin-right: 0.4em;
        color: $infoTextColor;

        &:after {
            content: '✖';
            padding: 0.5em;
            font-weight: bold;
        }

        &:hover:after {
            cursor: pointer;
        }

        &:hover {
            background-color: $infoBtnHoverColor;
            color: $infoTextHoverColor;
            cursor: pointer;
        }
    }
}
